*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.hero{
    background-color: #7e4648;
    color: #ffffff;
    width: 100%;
    height: 400px;
    
}
.crroissant-hero h2{
    padding-top: 80px;
    font-size: 25px;
}
.crroissant-hero p{
    font-size: 20px;
    line-height: 2;
    margin-top: 50px;
    
}
.crroissant-hero img{
    height: 100px;
    margin-top: 50px;
}