:root {
    --primary: #6F4E37;
    --secondary: #D4A76A;
    --light: #F5F5DC;
    --dark: #3E2723;
    --white: #FFFFFF;
    --black: #000000;
    --offwhite: #f5f5f5;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--offwhite);
  padding: 10px 20px;
}

  .logo{
    display: flex;
   
    align-items: center;
   flex-shrink: 0;
   
   
  }
  .logo,img{
    height:40px;
    width: auto;
  margin: 3px 10px;
  margin-bottom: 9px;
  
    
  }
 .logo-name{
   
   margin-top: 18px;
    
  }
  .logo-name , a{
    display: flex;
    justify-content: center;
    line-height: 0;
    flex-shrink: 0;
    
    font-weight: bold ;
   color: var(--dark);
    text-decoration: none;
  }

.navlinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navlinks li {
  position: relative;
}

.navlinks a {
  color: var(--dark);
  text-decoration: none;
  padding: 10px;
  display: block;
  margin-top: 10px;
}









.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 2px;
  width: 30px;
  background: var(--black);
  margin: 4px;
 

}


    .hero-section{
    height: 600px;
   
    background-image: linear-gradient(to bottom, var(--dark), var(--primary), var(--secondary), var(--light), var(--white));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   }
   h1{
     font-size: 60px;
    margin-bottom: 20px;
    
   }
   .btn{
    
     padding: 10px 15px;
     border-radius: 20px;
     border: none;
   background-color:var(--dark);
   color: var(--offwhite);
   font-size: 15px;
   transition: background-color 0.3s ease;
   }
   .btn:hover{
     background-color: var(--secondary);
     cursor: pointer;
     color: var(--black);
   }


   @media screen and (max-width: 768px) {
nav{
  position: relative;
}
.logo{
  
  margin-right: 20px;
}
.logo-name{
  margin-top: 12px;
}
  .navlinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--offwhite);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 20px;
    border-top: 1px solid var(--offwhite);
    box-shadow: 0 2px 8px var(--black);
    z-index: 99;
  }

  .navlinks.show {
    display: flex;
  }

  .hamburger {
    display: flex;
    margin-left: auto;
  }
.navlinks  li {
    text-align: left;
    margin-top: 10px;
  }
  .hero-section {
    height: 400px;
    padding: 20px;
  }
  .hero-section h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .btn {
    padding: 8px 12px;
    font-size: 14px;
  }
 
}
