:root {
    --primary: #6F4E37;
    --secondary: #D4A76A;
    --light: #F5F5DC;
    --dark: #3E2723;
    --white: #FFFFFF;
    --black: #000000;
    --offwhite: #f5f5f5;
  }


  
 
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--offwhite);
  padding: 10px 20px;
}

  .logo{
    display: flex;
   
    align-items: center;
   flex-shrink: 0;
   
   
  }
  .logo,img{
    height:40px;
    width: auto;
  margin: 3px 10px;
  margin-bottom: 9px;
  
    
  }
 .logo-name{
    
   margin-top: 18px;
    
  }
  .logo-name , a{
    display: flex;
    justify-content: center;
    line-height: 0;
    flex-shrink: 0;
    
    font-weight: bold ;
   color: var(--dark);
    text-decoration: none;
  }

.navlinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navlinks li {
  position: relative;
}

.navlinks a {
  color: var(--dark);
  text-decoration: none;
  padding: 10px;
  display: block;
  margin-top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--offwhite);
  min-width: 150px;
  z-index: 1;
}

.dropdown-content a {
  padding: 10px;
  color: var(--dark);
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--secondary);
}

.dropdown:hover .dropdown-content {
  display: block;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px;
}


@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
  }

  .navlinks.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navlinks li {
    text-align: center;
  }

  .dropdown-content {
    position: static;
  }
}

    .hero-section{
    height: 600px;
    background-image: linear-gradient(to bottom, #2a272a, #412728, #7f4d3e, #b87c4c, #e2b659);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   }
   h1{
     font-size: 60px;
    margin-bottom: 20px;
    
   }
   .btn{
    
     padding: 10px 15px;
     border-radius: 20px;
     border: none;
   background-color:#412728;
   color: #f5f5f5;
   font-size: 15px;
   transition: background-color 0.3s ease;
   }
   .btn:hover{
     background-color: #e2b659;
     cursor: pointer;
     color: #000;
   }