*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 

/* Slideshow Container */

.slide-show {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-container {
  width: 100%;
  position: relative;
}

/* Slides */
.slides {
  display: flex;

  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: 600px;
margin: 0 auto;
  flex-shrink: 0; 
}



.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 25px;
  margin: 15px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.dot-container{
  text-align: center;
  margin-top: 10px;

}
.dot{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #412728;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card-container {
  width: 100%;
  overflow: hidden; 
  position: relative;
  
}

.card-box {
  width: 100%;
  position: relative;
  overflow: hidden; 
}

.cards {
  display: flex;

}

.cards img {
  height: 400px;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  object-fit: cover;
  
}

  
.coffee-heart{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.heart img{
  width: 100%;
  height: 600px;
  margin: 0 auto;
  transition: 8s ease-in-out;
}
.heart img:hover{
  transform: scale(1.3) ;
}
.testimonial {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}
.head{
  margin: 30px auto;
  text-align: center;
}
.carousel{
  position: relative;
  overflow: hidden;
  width: 100%;
}/*
.testimonial-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr); /* This creates 4 columns for the testimonial cards 
  gap: 20px;
}
*/
.testimonial-container{
  display: flex;
  transition: transform 0.5s ease-in-out;
 
}
.testimonial-card {
  background-color: #ccc;
  border-radius: 20px;
  margin: 0 10px;
min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.testimonial-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
}

.testi-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.testi-para {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* This makes the paragraph take up 80% of the card's width */
  text-align: center;
  color: #333;
  overflow: hidden;
}




