*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
  background-color: #f5f5f5;
  padding: 3px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
}
.navlinks{
  display: flex;
 list-style-type: none;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  

}
.navlinks li{
  margin: 0 20px;
}
.navlinks a{
  text-decoration: none;
  color:#000000;
  font-size: 18px;
  transition: background-color 0.3s ease;
  padding: 10px 15px;
}
.navlinks a:hover{
background-color: rgb(239, 239, 239);
cursor: pointer;
border-radius: 5px;
}
.logo{
  display: flex;
 
  align-items: center;
 flex-shrink: 0;
 
 
}
.logo,img{
  height:48px;
  width: auto;
margin: 3px 10px;
margin-bottom: 8px;

  
}
.logo-name{
  display: flex;
  justify-content: center;
 flex-shrink: 0;
  font-size: 24px;
  font-weight: bold ;
  color: rgb(113, 71, 71);
}
.hamburger{
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hamburger span{
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}
.hero-section{
  height: 600px;
  background-image: linear-gradient(to bottom, #2a272a, #412728, #7f4d3e, #b87c4c, #e2b659);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 }
 h1{
   font-size: 60px;
  margin-bottom: 20px;
  
 }
 .btn{
  
   padding: 10px 15px;
   border-radius: 20px;
   border: none;
 background-color:#412728;
 color: #f5f5f5;
 font-size: 15px;
 transition: background-color 0.3s ease;
 }
 .btn:hover{
   background-color: #e2b659;
   cursor: pointer;
   color: #000;
 }

 /* coffee dropdown menu*/
.dropdown{
  position: relative;
  
  
}
 
.dropdown-content{
  position: absolute;
  top: 43px;
  display: none;
  min-width: 160px;
 
 
  box-shadow: 0px 8px 16px rgpa(0,0,0,0.2);
  z-index: 1;
  background-color: #f1f1f1;
  
  }


.dropdown-content  a{
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #000;
  
}
.dropdown-content a:hover{
  background-color: #ddd;
}
 .dropdown:hover .dropdown-content{
  display: block;
  
 }
 

/* Slideshow Container */

.slide-show {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-container {
  width: 100%;
  position: relative;
}

/* Slides */
.slides {
  display: flex;

  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: 600px;
margin: 0 auto;
  flex-shrink: 0; 
}



.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 25px;
  margin: 15px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.dot-container{
  text-align: center;
  margin-top: 10px;

}
.dot{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #412728;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card-container {
  width: 100%;
  overflow: hidden; 
  position: relative;
  
}

.card-box {
  width: 100%;
  position: relative;
  overflow: hidden; 
}

.cards {
  display: flex;

}

.cards img {
  height: 300px;
  
  flex: 1;
  margin: 0 auto;
  object-fit: cover;
  
}
.fuelbycoffee{
position: relative;

}

.coffee {
  position: relative;
  text-align: center;
}
.coffee img{
  width: 100%;
  height: 600px;
  display: block;
  margin: 0 auto;
}
.fuel-text{
  position: absolute;
  top:10%;
  left: 0;
  color: #f5f5f5;
  font-size: 2.5em;
  transform: translateX(60%);
  text-shadow: 2px 2px #000;
  color: #d64214;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}
.coffee p{
  position: absolute;
  top: 20%;
  text-align: center;
  left: -8%;
  color: #f5f5f5;
  font-size: 1em;
  line-height: 1.5;
  transform: translateX(50%);
  text-shadow:2px 2px #000;
  font-family: 'Courier New', Courier, monospace;
  margin: 40px;
}
.fuel{
  position: absolute;
  top:35%;
  left:20%;
  text-align: center;
  transform: translateX(45%);
  padding: 12px 20px 12px 20px;

  background-color:  #d64214;;
  border: none;
  color: #f5f5f5;
  font-size: 18px;
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px;
}

.coffee-heart{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.heart img{
  width: 100%;
  height: 600px;
  margin: 0 auto;
  transition: 8s ease-in-out;
}
.heart img:hover{
  transform: scale(1.3) ;
}
.testimonial {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}
.head{
  margin: 30px auto;
  text-align: center;
}
.carousel{
  position: relative;
  overflow: hidden;
  width: 100%;
}/*
.testimonial-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr); /* This creates 4 columns for the testimonial cards 
  gap: 20px;
}
*/
.testimonial-container{
  display: flex;
  transition: transform 0.5s ease-in-out;
 
}
.testimonial-card {
  background-color: #ccc;
  border-radius: 20px;
  margin: 0 10px;
min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.testimonial-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
}

.testi-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.testi-para {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* This makes the paragraph take up 80% of the card's width */
  text-align: center;
  color: #333;
  overflow: hidden;
}



@media (max-width: 768px) {
  .navlinks {
      display: none; 
      position: absolute;
      top: 70px; 
    flex-direction: column;
    float: left;
    background-image: linear-gradient(to bottom, #2a272a, #412728,#7f4d3e);
   
     align-items: flex-start;
     padding: 20px 0;
     right: 0;
     width: 100%;
     
       }
      

.navlinks.show{
  display: flex;
 }

 .logo img{
  height: 40px;
  width: auto;
  margin-top: 10px;
 }
 .logo-name{
  font-size: 15px;
  margin-top: 8px;
 }
  .hamburger {
      display: flex; 
  }

  .navlinks li {
      margin: 10px 30px; 
  
      
  }
  .slides img{
height: 400px;
  }

}

@media (min-width: 769px) {
  /* Adjustments for larger screens */
  .logo {
    display: flex;
    align-items: center;
  }

  .logo-name {
    font-size: 20px;
  }
 

  
}

